*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: sans-serif;
}
.header{
    position: relative;
    min-height: 60vh;
    background: yellowgreen;    
}

.container{
    max-width: 1200px;
    margin: auto;
    width: 90%;
}

.nav{
    min-height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    width: 40%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.headline{
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.btn{
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn-headline{
    padding: 1rem 2rem;
    font-size: 1rem;
    margin-top: 1rem;
}

.section-todo{
    margin-top: 5rem;
    text-align: center;
}

.form-todo{
    margin-top: 1rem;
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
}
.form-todo input {
    min-height: 100px;
}

.form-todo input[type="text"] {
    width: 78%;
    padding: 0.8rem;
    font-size: 1rem;
}
.form-todo input[type="submit"]{
    width:20%;
    background: #445563;
    font-weight: bold;
}

.section-signup{
    margin-top: 5rem;
}

.section-signup{
    margin-top: 5rem;
    text-align: center;
    background: rgb(184, 166, 166);
    border-radius: 10px;
    padding: 1rem;
}

.signup-form{
    max-width: 800px;
    width: 95%;
    text-align: left;
    margin: auto;
}

.signup-form label{
    display: block;

}
.signup-form input{
    display: block;
    width: 100%;
    padding: 0.5rem;
}
.form-group{
    margin: 1rem;
}
.signup-form textarea{
    width: 100%;
}
.signup-btn{
    background: yellow;
    color: aqua;
    padding: 1rem 2rem;
    display: inline-block;
    margin: auto;
}